NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_PROJECT_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ENABLE_SALE_LISTINGS=false
NEXT_PUBLIC_GOOGLE_SEARCH_API_KEY=
NEXT_PUBLIC_GOOGLE_SEARCH_ENGINE_ID=
NEXT_PUBLIC_QPAY_STATIC_QR_PATH=
